.nav_item p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #282830;
    line-height: 19px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease
}

.nav_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    
}

.nav_item-section{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    position: sticky;
    top: 0;
    z-index:99;
}

.nav_item p:hover{
    color: #006bff;
    transition: color .2s ease;
    cursor: pointer;

}